.momo-sig {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.moderustic-reg {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.moderustic-med {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.moderustic-bold {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family:
    "Moderustic", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f1f1;
}

img {
  margin: auto;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

section {
  display: flex;
}

footer {
  display: flex;
}
